# Pandas

In [144]:
import pandas as pd

In [145]:
import numpy as np

In [146]:
d1=np.array([1,2,3,4])
d2={"a":25,"b":3, "c":42}
se1=pd.Series(d1)
se2=pd.Series(d2)
print(se1)
print(se2)

0    1
1    2
2    3
3    4
dtype: int32
a    25
b     3
c    42
dtype: int64

In [147]:
d1=[1,2,3,4]
se1=pd.Series(d1,index=["a","b","c","d"])
print(se1)

a    1
b    2
c    3
d    4
dtype: int64

In [148]:
print(se1["c"])

3

In [149]:
d2 = {
  "calorias": [420, 380, 390],
  "duracion": [50, 40, 45]
}
df1=pd.DataFrame(d2)
print(df1)

   calorias  duracion
0       420        50
1       380        40
2       390        45

In [150]:
df2=pd.read_csv(r"C:\Users\Nelson\Desktop\Archivos paraPandas\Ar1.csv")
print(df2)

            Nombre Fecha Contrato  Salario  Hojas Restantes
0        John Idle       08/15/14  50000.0                10
1    Smith Gilliam       04/07/15  65000.0                 6
2   Parker Chapman       02/21/14  45000.0                 7
3      Jones Palin       10/14/13  70000.0                 3
4    Terry Gilliam       07/22/14  48000.0                 9
5    Michael Palin       06/28/13  66000.0                 8
6        John Idle       08/15/14  50000.0                10
7    Smith Gilliam       04/07/15      NaN                 6
8   Parker Chapman       02/21/14  45000.0                 7
9      Jones Palin       10/14/13      NaN                 3
10   Terry Gilliam       07/22/14  48000.0                 9
11   Michael Palin       06/28/13  66000.0                 8

In [151]:
df3=pd.read_csv(r"C:\Users\Nelson\Desktop\Archivos paraPandas\data(2).csv")
#print(df3)

In [152]:
df4=pd.read_excel(r"C:\Users\Nelson\Desktop\Tableu SIL\Data_Files_Updated_June_2021\Archivo3.xlsx")
#print(df4)

In [153]:
df5=pd.read_json(r"C:\Users\Nelson\Desktop\Archivos paraPandas\q.json")
#print(df5)

In [154]:
df6=pd.read_clipboard()
#print(df6)

In [155]:
import sqlite3
conexion=sqlite3.connect("bd3.db")
try:
    conexion.execute("""create table articulos (
                              codigo integer primary key autoincrement,
                              descripcion text,
                              precio real
                        )""")
    conexion.execute("insert into articulos(descripcion,precio) values (?,?)", ("naranjas", 23.50))
    conexion.execute("insert into articulos(descripcion,precio) values (?,?)", ("peras", 34))
    conexion.execute("insert into articulos(descripcion,precio) values (?,?)", ("bananas", 25))
    conexion.commit()
                           
except sqlite3.OperationalError:
    print("La tabla articulos ya existe")                    





df7= pd.read_sql_query("SELECT * FROM articulos", conexion)
#print(df7)

La tabla articulos ya existe

In [156]:
df8=pd.read_html("https://en.wikipedia.org/wiki/Uruguay")
#print(f'Tablas: {len(df8)}')
df8=pd.read_html("https://en.wikipedia.org/wiki/Uruguay",match="Largest cities or towns in Uruguay")
#print(df8)

### Inspecting

In [157]:
df2=pd.read_csv(r"C:\Users\Nelson\Desktop\Archivos paraPandas\Ar1.csv")
print(df2)

            Nombre Fecha Contrato  Salario  Hojas Restantes
0        John Idle       08/15/14  50000.0                10
1    Smith Gilliam       04/07/15  65000.0                 6
2   Parker Chapman       02/21/14  45000.0                 7
3      Jones Palin       10/14/13  70000.0                 3
4    Terry Gilliam       07/22/14  48000.0                 9
5    Michael Palin       06/28/13  66000.0                 8
6        John Idle       08/15/14  50000.0                10
7    Smith Gilliam       04/07/15      NaN                 6
8   Parker Chapman       02/21/14  45000.0                 7
9      Jones Palin       10/14/13      NaN                 3
10   Terry Gilliam       07/22/14  48000.0                 9
11   Michael Palin       06/28/13  66000.0                 8

In [158]:
print(df2.head(3))

           Nombre Fecha Contrato  Salario  Hojas Restantes
0       John Idle       08/15/14  50000.0                10
1   Smith Gilliam       04/07/15  65000.0                 6
2  Parker Chapman       02/21/14  45000.0                 7

In [159]:
print(df2.tail(2))

           Nombre Fecha Contrato  Salario  Hojas Restantes
10  Terry Gilliam       07/22/14  48000.0                 9
11  Michael Palin       06/28/13  66000.0                 8

In [160]:
print(df2.sample(4))

           Nombre Fecha Contrato  Salario  Hojas Restantes
9     Jones Palin       10/14/13      NaN                 3
1   Smith Gilliam       04/07/15  65000.0                 6
10  Terry Gilliam       07/22/14  48000.0                 9
0       John Idle       08/15/14  50000.0                10

In [161]:
print(df2.columns)

Index(['Nombre', 'Fecha Contrato', 'Salario', 'Hojas Restantes '], dtype='object')

In [162]:
print(df2.index)

RangeIndex(start=0, stop=12, step=1)

In [163]:
print(df2.shape)
print(np.shape(df2))

(12, 4)
(12, 4)

In [164]:
print(df2.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8      True
9     False
10     True
11     True
dtype: bool

In [165]:
print(df2.dtypes)

Nombre               object
Fecha Contrato       object
Salario             float64
Hojas Restantes       int64
dtype: object

In [166]:
print(df2.isnull())

    Nombre  Fecha Contrato  Salario  Hojas Restantes
0    False           False    False             False
1    False           False    False             False
2    False           False    False             False
3    False           False    False             False
4    False           False    False             False
5    False           False    False             False
6    False           False    False             False
7    False           False     True             False
8    False           False    False             False
9    False           False     True             False
10   False           False    False             False
11   False           False    False             False

In [167]:
print(len(df2))

12

In [167]:
print(df2.info())

KeyboardInterrupt:

In [ ]:
print(df2.describe())

### Selecting

In [ ]:
df2=pd.read_csv(r"C:\Users\Nelson\Desktop\Archivos paraPandas\Ar1.csv")
print(df2)

In [ ]:
print(df2["Salario"])

In [ ]:
print(df2[0:1])

In [ ]:
print(df2[["Nombre"]])

In [ ]:
print(df2["Nombre"][3])

In [ ]:
print(df2["Nombre"][1:3])

In [ ]:
#print(df2[1::7])

In [ ]:
print(df2[["Nombre","Salario"]])

In [ ]:
print(df2[["Nombre","Salario"]][1:4])

In [ ]:
print(df2[(df2["Salario"])>50000])

In [ ]:
print(df2[(df2["Salario"]>50000)&(df2["Salario"]<70000)])

In [ ]:
df2=pd.read_csv(r"C:\Users\Nelson\Desktop\Archivos paraPandas\Ar1.csv")
print(df2)

In [ ]:
print(df2.loc[2])

In [ ]:
print(df2.loc[2,"Nombre"])

In [ ]:
#print(df2.loc[[2],["Nombre"]])

In [ ]:
#print(df2.loc[2:6])

In [ ]:
#print(df2.iloc[5])

### Inspecting 2

In [ ]:
df2=pd.read_csv(r"C:\Users\Nelson\Desktop\Archivos paraPandas\Ar1.csv")
print(df2)

In [ ]:
print(df2['Salario'].unique())
#Solo sobre Series

In [ ]:
print(df2['Salario'].value_counts())
#Solo sobre Series

In [ ]:
print(df2['Salario'].values)

In [ ]:
print(df2['Salario'].idxmax())

In [ ]:
print(df2.filter(items=['Salario','Nombre']))

In [ ]:
print(df2.filter(items=[2,6],axis=0))

In [ ]:
print(df2.filter(regex='Nom',axis=1))

In [ ]:
print(df2.filter(like='Nom',axis=1))

### Modificar

In [ ]:
df2=pd.read_csv(r"C:\Users\Nelson\Desktop\Archivos paraPandas\Ar1.csv")
print(df2)

In [ ]:
print(df2.columns)
df6=df2.rename({'Hojas Restantes ':"Restantes"},axis=1)
print(df6)

In [ ]:
df7 = pd.DataFrame(data={"Pais":['Mexico','Argentina','Espana','Colombia'],
                        "Poblacion":[127212000, 45167000, 47099000, 48922000]})
print(df7)

In [ ]:
df7["Superficie"] = [1964375, 2780400, 505944, 1142748]
df7['Deporte']= 'Futbol'
print(df7)

In [ ]:
print(df7.replace(to_replace='Futbol',value=np.nan))

In [ ]:
print(df7.dropna())

In [ ]:
print(df7.replace(to_replace='Futbol',value=np.nan))

In [ ]:
print(df7.fillna(value=8))

In [ ]:
print(df7)

In [ ]:
df7.drop(['Deporte'],axis=1)

In [ ]:
df7.drop([2],axis=0)

### Juntar, Agregar.

In [ ]:
df7 = pd.DataFrame(data={"Pais":['Mexico','Argentina','Espana','Colombia'],
                        "Poblacion":[127212000, 45167000, 47099000, 48922000]})
df7

In [ ]:
df8=pd.DataFrame(data={"Pais":['USA','Chile','Italia','Japon'],
                        "Poblacion":[300000000, 15000000, 60000000, 150000000],"Deporte":["Beisbol","Futbol","Futbol","Zumo"]})
df8

In [ ]:
df9=df7.append(df8)

df9

In [ ]:
df10=pd.concat([df7,df8],axis=0)

df10

In [ ]:
df10=pd.concat([df7,df8],axis=1)
df10

In [ ]:
df11=pd.DataFrame(data={"Pais":['USA','Chile','Italia','Japon'],
                        "Poblacion":[300000000, 15000000, 60000000, 150000000]})
df11

In [ ]:
df12=pd.DataFrame(data={"Pais":['USA','Chile','Italia','Japon'],
                       "Deporte":["Beisbol","Futbol","Futbol","Zumo"]})
df12

In [ ]:
df14=df11.join(df12,lsuffix=' a',rsuffix=' b')
df14

In [ ]:
df13=df11.join(df12.set_index("Pais"),on="Pais")
df13

In [ ]:
df11=pd.DataFrame(data={"Pais":['USA','Chile','Italia','Japon'],
                        "Poblacion":[300000000, 15000000, 60000000, 150000000]})
df11

In [ ]:
df15=pd.DataFrame(data={"Pais":['USA','Chile','China'],
                       "Deporte":["Beisbol","Futbol","PingPong"]})
df15

In [ ]:
df16=df11.merge(df15,how='inner',on='Pais')
df16

In [ ]:
df17=df11.merge(df15,how='outer',on='Pais')
df17

In [ ]:
df18=df11.merge(df15,how='left',on='Pais')
df18

In [ ]:
df19=df11.merge(df15,how='right',on='Pais')
df19

In [ ]:
df22=df11.assign(Poblacion2=df11['Poblacion']/1000000 )
df22

In [ ]:
data = {'Nombre': ['Parker', 'Smith', 'John', 'William'],  
   'Porcentaje': [82, 98, 91, 87],  
   'Curso': ['B.Sc','B.Ed','M.Phill','BA']}  
df23 = pd.DataFrame(data)  
df23

In [ ]:
data3 = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'A単o': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Puntos':[876,789,863,673,741,812,756,788,694,701,804,690]}
df26 = pd.DataFrame(data3)
df26

In [ ]:
print(df26.groupby('Team').groups)

In [ ]:
print(df26.groupby('Team').get_group('Kings'))

In [ ]:
print(df26.groupby(['Team','A単o']).groups)

In [ ]:
for nombre,grupo in (df26.groupby(['Team','A単o'])):
   print (nombre)
   print (grupo)

In [ ]:
gr1=df26.groupby('A単o')
print(gr1.groups)

In [ ]:
print(gr1['Puntos'].agg(np.mean))

In [ ]:
print(gr1.agg(np.size))

In [ ]:
print (gr1['Puntos'].agg([np.sum, np.mean, np.std]))